* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("67.jpg");
}
.App {
  text-align: center;
  background-image: url("67.jpg");
}
.registerContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.registerHeading {
  text-align: center;
  font-weight: 700;
}
form ul {
  align-content: center;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
